<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :do_at %><br />
    <%= f.date_select :do_at, :use_month_numbers=>true, :use_year_numbers=>true, :start_year => 1990, :end_year => Time.now.year%>
  </div>
  <div class="field">
    <%= f.label :difference %><br />
    <%= f.text_field :difference %>
  </div>
  <div class="field">
    <%= f.label :result_balance %><br />
    <%= f.number_field :result_balance, {:min=>0}%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
